* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Calculator container */
#calcBody {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 250px;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 4px 4px #3e3e3e;
  background: #a29e9e;
}

/* Calculator head */
#calcHead {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-bottom: 10px;
}

#solarPanel {
  width: 100px;
  height: 40px;
  background-color: rgb(12, 7, 7);
  border-radius: 4px;
}

#calcDisp {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: rgb(200, 200, 200);
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 26px;
  align-items: center;
  justify-content: flex-end;
}

/* Calculator button container */
#calcBtnCont {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#onReset {
  background: #9c0000;
}

button {
  border-style: none;
  border-radius: 5px;
  box-shadow: 1px 1px #3e3e3e;
  background: #777777;
  color: white;
}

.calcRow {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.btn {
  width: 40px;
}

.calcRow > button {
  padding: 10px;
  text-align: center;
}

#firstRow > button {
  padding: 5px;
}

#sixthRow > button {
  flex: 1 0 auto;
}
